.cover-container {
	/*width: 100%;*/
	/*height: auto;*/
	text-align: center;
	vertical-align: middle;
	overflow: hidden;
}
.release-cover {
	max-width: 100%;
	max-height: 220px;
	/*min-width: 100%;
	min-height: 100%;*/
	vertical-align: middle;
	margin: auto;
	padding: auto;
}
.thumbnail {
	/*max-height: 450px;*/
	/*height: auto;*/
}
dt {
	font-size: 1em;
}
dd {
	font-size: 0.9em;
}